@use './variables' as *;

@mixin bg-color($color: 'theme') {
  background-color: get-color($color);
}

@mixin color($color: 'theme', $important: false) {
  @if $important {
    color: get-color($color) !important;
  } @else {
    color: get-color($color);
  }
}

@mixin border($color: 'theme', $size: 1px) {
  border: solid $size get-color($color) !important;
}

@mixin box-shadow {
  box-shadow: 1px 1px 20px $black;
}

@mixin box-sizing {
  box-sizing: border-box;
}

@mixin size($size) {
  height: $size;
  width: $size;
}

@mixin mq($type, $value) {
  @media only screen and (#{$type}-width: #{$value}) {
    @content;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
