@use './variables' as *;

@mixin bg-color($color) {
  background-color: color($color);
}

@mixin box-shadow {
  box-shadow: 1px 1px 20px $black;
}

@mixin box-sizing {
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
