/* Font */
@use '@angular/material' as mat;
$font-family: arial, 'Helvetica Neue', helvetica, sans-serif;

/* Color */
$white: #f6f6f6;
$dark-gray: #484848;
$gray: #6c757d;
$light-gray: #8d8d8d;
$gray-hover: #cfcfcf;
$true-white: #fff;
$black: #000;
$info: #283593;
$success: #1aaa55;
$warning: #fc6d26;
$error: #ff3838;
/* stylelint-disable */
$my-primary: mat.define-palette(mat.$green-palette, A200);
$my-accent: mat.define-palette(mat.$indigo-palette, A400);
$my-warn: mat.define-palette(mat.$orange-palette, A400);
/* stylelint-enable */
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

$bezier: cubic-bezier(0.86, 0, 0.07, 1);
$border-radius: 3px;

/* zindex */
$depth: (
  'background': -10,
  'content': 2,
  'toolbar': 10,
  'tooltip': 75,
  'overlay': 200,
  'top': 300,
  'modal': 400,
);
