@use 'imports' as *;

body {
  font-family: $font-family !important;
}

h1,
h2,
h3,
h4 {
  box-sizing: border-box !important;
  font-family: $font-family !important;
  margin-bottom: 8px !important;
  margin-top: 0 !important;
  position: relative !important;
  text-align: center !important;
}

.hide {
  display: none !important;
}

.mat-raised-button {
  border: solid 3px color('theme');
  color: color('theme');
}

.background-color {
  @include bg-color('theme');

  height: 100%;
  left: 0;
  opacity: 0.05;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: map-get($depth, 'background') - 1;
}

$levels: 'success', 'warning', 'error', 'info';

@each $lvl in $levels {
  .toast-#{$lvl} {
    @include bg-color($lvl);
  }
}
