@use 'imports' as *;

h1,
h2,
h3,
h4 {
  box-sizing: border-box !important;
  font-family: $font-family !important;
  margin-bottom: 8px !important;
  margin-top: 0 !important;
  position: relative !important;
  text-align: center !important;
}

@each $name, $color in $colors {
  :root {
    --#{$name}: #{$color};
  }
}

.hide {
  display: none !important;
}

fa-icon {
  @include color;
}

.mat-mdc-raised-button {
  height: 42px !important;
  @include border($size: 3px);

  &:not(:disabled) {
    @include color($important: true);
  }
}

.background-color {
  @include bg-color;

  height: 100%;
  left: 0;
  opacity: 0.05;
  position: fixed;
  top: 0;
  width: 100vw;
  @include zindex('background');
}

$levels: 'success', 'warning', 'error', 'info';

@each $lvl in $levels {
  .toast-#{$lvl} {
    @include bg-color($lvl);
  }
}

/* Custom transition */

@keyframes rotate-out {
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotate-in {
  from {
    transform: rotate(-90deg);
  }
}

::view-transition-old(count),
::view-transition-new(count) {
  animation-duration: 200ms;
  animation-name: -ua-view-transition-fade-in, rotate-in;
}

::view-transition-old(count) {
  animation-name: -ua-view-transition-fade-out, rotate-out;
}
