@use '@angular/material' as mat;
@use './imports' as *;
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$my-primary: mat.define-palette(
  (
    100: get-color('success'),
    500: get-color('theme'),
    700: get-color('info'),
    contrast: (
      100: $dark-primary-text,
      500: $light-primary-text,
      700: $light-primary-text,
    ),
  )
);
/* stylelint-disable */
$my-warn: mat.define-palette(mat.$orange-palette, A400);
$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-primary,
      warn: $my-warn,
    ),
    typography:
      mat.define-legacy-typography-config(
        $font-family: $font-family,
      ),
  )
);
/* stylelint-enable */

@include mat.all-legacy-component-themes($my-theme);
