@use 'imports' as *;

:host {
  display: block;
  height: calc(100% + 120px);
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include deep {
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    justify-content: center;
    overflow: visible !important;
    text-align: center;
  }

  .mat-mdc-paginator {
    background: none !important;

    &-range-label {
      display: none;
    }
  }
}

.alert-row {
  user-select: none;
}

.row-selected {
  @include bg-color('purple', true);
}

::ng-deep .delete-button .mat-mdc-raised-button {
  display: flex;
  margin: auto;
}

.create-button {
  display: flex;
  margin: auto;
  top: 8px;
}

@include mq('min', 599px) {
  .create-button {
    top: 16px;
  }
}

@media (width < 420px) {
  @include deep {
    .mat-mdc-cell,
    .mat-mdc-header-cell {
      font-size: 12px !important;
    }

    .detail-row .mat-mdc-cell {
      &:first-of-type {
        padding-left: 24px !important;
      }

      &:last-of-type {
        padding-right: 24px !important;
      }
    }
  }
}
