<button
  type="button"
  mat-raised-button
  routerLink="/alert/create"
  class="create-button"
>
  <div>
    {{ 'alert.create' | translate }}&nbsp;
    <fa-icon [icon]="faPlus"></fa-icon>
  </div>
</button>
<ng-container *ngIf="alerts$ | async as alerts">
  <div class="header">
    <mat-paginator
      [length]="alerts.totalElements"
      [pageIndex]="alerts.number"
      [pageSize]="alerts.size"
      (page)="
        navigate($event.pageIndex, pageRequest.sortField, pageRequest.sortDir)
      "
    >
    </mat-paginator>
  </div>
  <app-table-expand
    #table
    matSort
    matSortDisableClear="true"
    [dataSource]="alerts.content"
    [config]="{
      template: alertField,
      additionalTemplate,
      formatFields,
      empty: 'alert.empty',
      color: 'darken-theme'
    }"
    [matSortDirection]="pageRequest.sortDir"
    [matSortActive]="pageRequest.sortField ?? ''"
    (matSortChange)="navigate(0, $any($event.active), $event.direction)"
  >
    <ng-container matColumnDef="triggerDays">
      <mat-header-cell *matHeaderCellDef mat-header-cell>
        {{ 'alert.trigger_day' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let alert">
        {{
          formatField(alert.getTriggerDays(translate.currentLang), true)
            | titlecase
        }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="triggerHour">
      <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ 'alert.trigger_hour' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let alert">
        {{ alert.triggerHour | dateTime: 'hour' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="monitoredHours">
      <mat-header-cell *matHeaderCellDef mat-header-cell>
        {{ 'alert.monitored_hour' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let alert">
        {{ formatField(alert.monitoredHours, true) }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ 'alert.location' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let alert">
        <ng-container *ngIf="alert.location.length > 13"
          >{{ alert.location | slice: 0 : 13 }}...</ng-container
        >
        <ng-container *ngIf="alert.location.length <= 13">{{
          alert.location
        }}</ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef mat-header-cell>
        {{ 'alert.action' | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let alert">
        <button
          mat-icon-button
          type="button"
          [matMenuTriggerFor]="menu"
          [matMenuTriggerData]="{alert}"
          (click)="$event.stopPropagation()"
        >
          <fa-icon [icon]="faMenu"></fa-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-template let-data #additionalTemplate>
      <div>
        <span>{{ 'alert.monitored_field' | translate }}: </span>
        <ng-container
          *ngFor="
            let monitoredField of data.item.monitoredFields;
            last as isLast;
            trackBy: trackByFn
          "
        >
          {{ 'forecast.' + monitoredField.field.toLowerCase() | translate }}
          {{ monitoredField.summary }} {{ monitoredField.unit }}
          <ng-container *ngIf="!isLast"> / </ng-container>
        </ng-container>
      </div>
    </ng-template>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>

    <mat-row
      *matRowDef="let alert; columns: columnsToDisplay"
      class="alert-row"
      appSelectRow
      [ngClass]="{'row-selected': selected.includes(alert.id)}"
      [speed]="selected.length > 0 ? 'fast' : 'slow'"
      (click)="table.expand(alert)"
      (selected)="handleSelection(alert.id)"
    ></mat-row>
  </app-table-expand>
</ng-container>

<ng-template #alertField let-field>
  <div>
    <span>{{ 'alert.' + field.i18n | translate }}: </span>{{ field.value }}
  </div>
</ng-template>

<ng-template #deleteButton let-data>
  <button
    type="button"
    mat-raised-button
    appClickOutside
    [matBadge]="data.selected"
    (click)="delete(selected)"
    (outside)="resetSelection()"
  >
    <div>
      {{ 'alert.delete' | translate }}&nbsp;
      <fa-icon [icon]="faTrash"></fa-icon>
    </div>
  </button>
</ng-template>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-alert="alert">
    <button mat-menu-item type="button" routerLink="/alert/edit/{{ alert.id }}">
      {{ 'global.edit' | translate }}&nbsp;
      <fa-icon [icon]="faEdit"></fa-icon>
    </button>
    <button mat-menu-item type="button" (click)="delete([alert.id])">
      {{ 'alert.delete' | translate }}&nbsp;
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
    <button mat-menu-item type="button" (click)="view(alert)">
      {{ 'alert.preview' | translate }}&nbsp;
      <fa-icon [icon]="faSun"></fa-icon>
    </button>
  </ng-template>
</mat-menu>
