@use '/src/app/styles/imports' as *;

:host {
  display: block;
  height: calc(100% + 120px);
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-header-cell {
  word-break: break-word;
}

.mat-cell,
.mat-header-cell {
  justify-content: center;
  overflow: visible !important;
  text-align: center;

  &:first-of-type {
    padding-left: 10px !important;
  }

  &:last-of-type {
    padding-right: 10px !important;
  }
}

.mat-table,
.mat-paginator {
  background: none !important;
}

.alert-detail {
  overflow: hidden;
}

.alert-row {
  border-bottom-width: 0;
  user-select: none;
}

.row-selected {
  @include bg-color('purple');
}

.mat-row {
  min-height: 0 !important;
}

.alert-expand {
  display: flex;
  flex-direction: column;
}

.mat-column-details {
  border-bottom-style: unset !important;
  width: 100%;

  span {
    color: $darken-theme;
    font-weight: bold;
  }
}

::ng-deep .delete-button .mat-raised-button {
  display: flex;
  margin: auto;
}

@media (max-width: 500px) {
  .mat-table {
    width: 100vw;
  }

  .mat-cell,
  .mat-header-cell {
    font-size: 11px !important;

    &:first-of-type {
      padding-left: 5px !important;
    }

    &:last-of-type {
      padding-right: 5px !important;
    }
  }
}
