@use '/src/app/styles/imports' as *;

.mat-table {
  background: none !important;
}

::ng-deep .mat-row {
  min-height: 0 !important;
}

.detail-row {
  border-bottom-width: 0;
  transform: translateY(var(--row-height));

  ::ng-deep &.expanded + .mat-row {
    border-bottom-width: 0;
    transform: translateY(calc(-1 * var(--expand-height)));
  }

  &.expanded {
    border-bottom-width: 1px;
  }

  .mat-cell {
    text-align: center;
  }
}

::ng-deep .mat-column-details {
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    color: var(--color);
    font-weight: bold;
  }
}

.no-data {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .mat-cell,
  .mat-header-cell {
    font-size: 11px !important;
  }
}
