<app-select-weather-field
  [initialValue]="initialValue?.field?.field"
  (selected)="configureSlider($event)"
/>
@if (selectedField) {
  <app-slider
    #slider
    [configuration]="configuration"
    [initialValue]="{
      value: initialValue
        ? [initialValue.field.min, initialValue.field.max]
        : undefined,
      multiple: true,
    }"
    (selected)="select($event.value); shownAddBtn.emit(true)"
  />
  <mat-checkbox
    color="primary"
    [disabled]="!maxEnabled"
    [(ngModel)]="minEnabled"
    (change)="slider.disable({min: $event.checked})"
    >{{ 'global.min' | translate }}</mat-checkbox
  >
  <mat-checkbox
    color="primary"
    [disabled]="!minEnabled"
    [(ngModel)]="maxEnabled"
    (change)="slider.disable({max: $event.checked})"
    >{{ 'global.max' | translate }}</mat-checkbox
  >
}
