:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  width: 100%;
}

.weather-background {
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: fixed;
  width: 100vw;
  z-index: -1;
}
