{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-prettier"
  ],
  "rules": {
    "indentation": 2,
    "no-empty-source": null,
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "max-nesting-depth": 2,
    "selector-no-qualifying-type": null,
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "map-get",
          "darken",
          "get-color",
          "mat.define-light-theme",
          "mat.define-palette",
          "mat.define-typography-config"
        ]
      }
    ],
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": ["/^app-/", "/^ng-/", "/^ng2-/", "/^fa-/"]
      }
    ]
  }
}
