<app-dashboard>
    <div *ngIf="showSpinner" class="spinner-wrapper">
        <mat-spinner mode="indeterminate"></mat-spinner>
        <h1>{{ 'global.geolocation.in_progress' | translate }}</h1>
    </div>
    <app-search-location (selected)="navigate($event)" class="search-location"></app-search-location>
    <div *ngIf="forecast">
        <div class="weather-cover">
            <div *ngFor="let forecastDay of forecast.forecastDay; last as last">
                <h2>
                    <a [routerLink]="['/dashboard/details/', forecastDay.date]" [state]="forecast">{{
                        forecastDay.date | date: 'fullDate':'':translate.currentLang
                    }}</a>
                </h2>
                <div class="weather-day">
                    <img src="{{ forecastDay.day.condition.icon | icon }}" />
                    <div class="weather-day-items">
                        <div>{{ forecastDay.day.condition.text }}</div>
                        <div>{{ forecastDay.day.avgTempC }} °C</div>
                        <div>{{ 'forecast.wind' | translate }}: {{ forecastDay.day.maxWindKph }} km/h</div>
                        <div>{{ 'forecast.precip' | translate }}: {{ forecastDay.day.totalPrecipMm }} mm</div>
                        <div>
                            {{ 'forecast.chanceOfRain' | translate }}:
                            {{ forecastDay.day.dailyChanceOfRain }} %
                        </div>
                        <div>
                            {{ 'forecast.chanceOfSnow' | translate }}:
                            {{ forecastDay.day.dailyChanceOfSnow }} %
                        </div>
                    </div>
                </div>
                <mat-divider *ngIf="!last"></mat-divider>
            </div>
        </div>
    </div>
</app-dashboard>
