@use '/src/app/styles/imports' as *;

.spinner-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
}

.search-location {
  margin-top: 25px;
}

.weather-cover {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  text-align: center;
}

.weather-day {
  display: flex;
  flex-direction: row;

  img {
    height: 64px;
    margin-top: 32px;
  }
}

.weather-day-items {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.mat-divider {
  margin: 10px 0;
}

a {
  color: color('blue');
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;

  &:hover {
    color: darken($color: color('blue'), $amount: 15%);
    text-decoration: underline;
  }
}
