@if (authService.token$ | async; as user) {
  <div class="profile-content">
    <div>
      <span>{{ 'global.username' | translate }}:</span>{{ user.sub }}
    </div>
    <div>
      <span>{{ 'user.lang' | translate }}:</span
      >{{ 'global.lang.' + user.lang | translate }}
    </div>
    <div>
      <span>{{ 'user.signin.favourite_location' | translate }}:</span
      ><app-search-location
        [placeholder]="user.location"
        (selected)="edit({favouriteLocation: $event})"
      />
    </div>
    <div>
      <span>{{ 'user.timezone' | translate }}:</span>
      <mat-form-field appearance="outline"
        ><mat-select
          panelClass="search-panel"
          panelWidth
          [value]="user.timezone"
          (selectionChange)="edit({timezone: $event.value})"
        >
          @for (tz of timezones; track tz.key) {
            <mat-option [value]="tz.value">{{ tz.key }}</mat-option>
          }
        </mat-select></mat-form-field
      >
    </div>
    <div>
      <button
        class="delete-button"
        type="button"
        mat-raised-button
        (click)="delete()"
      >
        <span>
          {{ 'notification.delete' | translate }}&nbsp;
          <fa-icon [icon]="faBellSlash" />
        </span>
      </button>
    </div>
  </div>
}
