@use 'imports' as *;

:host {
  display: flex;
  justify-content: center;
  margin: 5vh auto;
  padding: 25px;
}

.profile-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

span:not(.delete-button) {
  @include color;

  font-weight: bold;
  padding-right: 5px;
}

.delete-button {
  width: 85vw;
  height: 50px !important;
}

::ng-deep .search-panel {
  .mat-mdc-option {
    border-bottom: get-color('dark-gray') 1px solid;
  }
}
