@use '/src/app/styles/imports' as *;

.toolbar {
  left: 0;
  position: fixed;
  top: 0;
  z-index: map-get($depth, 'toolbar');

  h1 {
    font-size: 20px;
    margin: auto;
    margin-top: 8px !important;
  }
}

.toogle-button {
  background-color: #fff !important;
  border-radius: 15% !important;
  z-index: map-get($depth, 'content');

  fa-icon {
    opacity: 1;
    vertical-align: unset !important;
  }

  ::ng-deep svg {
    vertical-align: middle;
  }
}

.menu {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: map-get($depth, content);
}

.mat-sidenav {
  top: $toolbar-height !important;
}

.active-nav-item {
  @include color();
}

.nav-list {
  display: inline-flex;
  flex-direction: column;
  height: 95%;
  overflow-x: hidden;
  overflow-y: visible;

  > * {
    margin: 0;
  }

  .btn {
    padding: 10px;
  }

  .ng-fa-icon {
    margin-right: 6px;
  }
}

.sidenav-content {
  width: 100vw;
}

.mat-sidenav-container,
.sidenav-content {
  overflow: unset !important;
}
