@import '../../../styles/imports';

.toolbar {
  color: #fff;
  left: 0;
  position: fixed;
  top: 0;
  z-index: map-get($depth, 'toolbar');
  h1 {
    font-size: 20px;
    margin: auto;
    margin-top: 8px !important;
  }
}

.toogle-button {
  background-color: #fff !important;
  border-radius: 15% !important;
  z-index: map-get($depth, 'content');

  fa-icon {
    color: mat-color($my-primary);
    opacity: 1;
    vertical-align: unset !important;
  }

  ::ng-deep svg {
    vertical-align: middle;
  }
}

.menu {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: map-get($depth, content);
}

.menu,
.mat-sidenav {
  top: 64px !important;
}

.active-nav-item {
  color: mat-color($my-primary);
}

.nav-list {
  display: inline-flex;
  flex-direction: column;
  height: 95%;
  overflow-x: hidden;
  overflow-y: visible;

  > * {
    margin: 0;
  }

  .btn {
    padding: 10px;
  }

  .ng-fa-icon {
    margin-right: 6px;
  }
}

.sidenav-content {
  width: 101vw;
}

@media (max-width: 599px) {
  .menu,
  .mat-sidenav {
    top: 56px !important;
  }
}
