<ng-container *ngIf="isLogged$ | async">
  <mat-toolbar
    class="toolbar mat-elevation-z4"
    color="primary"
    [@toggle]="direction"
  >
    <button
      type="button"
      mat-icon-button
      class="toogle-button mat-elevation-z4"
      (click)="sidenav.toggle()"
    >
      <fa-icon [icon]="faBars" size="2x"></fa-icon>
    </button>
    <h1 *ngIf="title" routerLink="/dashboard">
      {{ title | translate }}
    </h1>
  </mat-toolbar>
</ng-container>

<mat-sidenav-container [hasBackdrop]="true" fullscreen>
  <mat-sidenav
    #sidenav
    [fixedInViewport]="true"
    [autoFocus]="false"
    [mode]="'over'"
    *ngIf="isLogged$ | async"
  >
    <mat-nav-list class="nav-list" (click)="sidenav.close()">
      <a
        mat-list-item
        routerLink="/dashboard"
        label="nav-bar.dashboard"
        routerLinkActive="active-nav-item"
      >
        <fa-icon [icon]="faHome"></fa-icon>
        {{ 'nav-bar.dashboard' | translate }}
      </a>
      <a
        mat-list-item
        routerLink="/alert"
        label="nav-bar.alert"
        routerLinkActive="active-nav-item"
      >
        <fa-icon [icon]="faBell"></fa-icon>
        {{ 'nav-bar.alert' | translate }}
      </a>
      <a mat-list-item (click)="logout()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
        {{ 'nav-bar.logout' | translate }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="background-color"></div>
    <div [ngClass]="{menu: (isLogged$ | async)}" [@menu]="direction">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
