@use 'imports' as *;

:host > * {
  margin: 0 3px;
}

::ng-deep .search-panel {
  padding: 0 !important;

  .mat-mdc-option {
    border-bottom: get-color('dark-gray') 1px solid;
    line-height: unset !important;
  }

  .subtitle {
    @include font('12', 'dark-gray');
  }
}

::placeholder {
  @include color('black');

  opacity: 1;
}
