<mat-form-field appearance="outline">
    <input
        type="text"
        placeholder="{{ placeholder | translate }}"
        matInput
        [matAutocomplete]="auto"
        #inputLocation="matInput"
    />
    <button mat-icon-button type="button" matSuffix>
        <fa-icon [icon]="faLocationArrow" size="2x" (click)="geolocation()"></fa-icon>
    </button>
</mat-form-field>
<button type="button" mat-raised-button (click)="search(inputLocation.value, true)">
    {{ 'global.research' | translate }}
</button>
<mat-autocomplete
    #auto="matAutocomplete"
    autoActiveFirstOption
    panelWidth="100 %"
    (optionSelected)="select($event.option.value)"
>
    <mat-option *ngFor="let location of locations" [value]="location.name">
        <div [matTooltip]="location.name">{{ location.name }}</div>
    </mat-option>
</mat-autocomplete>
