@if (showSpinner) {
  <div class="spinner-wrapper">
    <mat-spinner mode="indeterminate" />
    <h1>{{ 'global.geolocation.in_progress' | translate }}</h1>
  </div>
}
<mat-form-field appearance="outline">
  <button
    mat-icon-button
    type="button"
    matIconPrefix
    (click)="geolocation(); $event.stopPropagation()"
  >
    <fa-icon size="2x" [icon]="faLocationArrow" />
  </button>
  <input
    #inputLocation="matInput"
    type="text"
    matInput
    [placeholder]="(showPlaceholder ? (placeholder ?? '') : '') | translate"
    [matAutocomplete]="auto"
    [formControl]="inputCtrl"
    (focus)="placeholder = undefined"
    (blur)="placeholder = inputCtrl.value || initialPlaceholder"
  />
  @if (
    inputLocation.value ||
    (placeholder && placeholder !== 'global.none' && showPlaceholder)
  ) {
    <button
      mat-icon-button
      type="button"
      matIconSuffix
      (click)="reset(); $event.stopPropagation()"
    >
      <fa-icon size="2x" [icon]="faTimes" />
    </button>
  }
</mat-form-field>
<mat-autocomplete
  #auto="matAutocomplete"
  autoActiveFirstOption
  class="search-panel"
  (optionSelected)="select($event.option.value)"
>
  @for (location of locations; track location.id) {
    <mat-option [value]="location.name">
      <div>{{ location.name }}</div>
      <div class="subtitle">
        {{ location.country }}
        @if (location.region) {
          - {{ location.region }}
        }
      </div>
    </mat-option>
  }
</mat-autocomplete>
