<div *ngIf="showSpinner" class="spinner-wrapper">
  <mat-spinner mode="indeterminate"></mat-spinner>
  <h1>{{ 'global.geolocation.in_progress' | translate }}</h1>
</div>
<mat-form-field appearance="outline">
  <button
    mat-icon-button
    type="button"
    matIconPrefix
    (click)="geolocation(); $event.stopPropagation()"
  >
    <fa-icon size="2x" [icon]="faLocationArrow"></fa-icon>
  </button>
  <input
    #inputLocation="matInput"
    type="text"
    matInput
    placeholder="{{ (showPlaceholder ? (placeholder ?? '') : '') | translate }}"
    [matAutocomplete]="auto"
    [formControl]="inputCtrl"
    (focus)="placeholder = undefined"
    (blur)="placeholder = inputCtrl.value || initialPlaceholder"
  />
  <button
    *ngIf="
      inputLocation.value ||
      (placeholder && placeholder !== 'global.none' && showPlaceholder)
    "
    mat-icon-button
    type="button"
    matIconSuffix
  >
    <fa-icon
      size="2x"
      [icon]="faTimes"
      (click)="$event.stopPropagation(); reset()"
    ></fa-icon>
  </button>
</mat-form-field>
<mat-autocomplete
  #auto="matAutocomplete"
  autoActiveFirstOption
  class="search-panel"
  (optionSelected)="select($event.option.value)"
>
  <mat-option
    *ngFor="let location of locations; trackBy: trackByFn"
    [value]="location.name"
  >
    <div>{{ location.name }}</div>
    <div class="subtitle">
      {{ location.country
      }}<ng-container *ngIf="location.region">
        - {{ location.region }}</ng-container
      >
    </div>
  </mat-option>
</mat-autocomplete>
