@use 'imports' as *;

.mat-mdc-table {
  background: none !important;
}

@include deep {
  .mat-mdc-row {
    min-height: 0 !important;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    padding: 0;
  }

  .mat-column-details {
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      color: var(--color);
      font-weight: bold;
    }
  }

  /* stylelint-disable */
  .mdc-data-table__row:last-child .mdc-data-table__cell {
    /* stylelint-enable */
    border-bottom: rgb(0 0 0 / 12%) 1px solid !important;
  }
}

.detail-row {
  border-bottom-width: 0;
  transform: translateY(var(--row-height));

  ::ng-deep &.expanded + .mat-mdc-row {
    border-bottom-width: 0;
    transform: translateY(calc(-1 * var(--expand-height)));
  }

  &.expanded {
    border-bottom-width: 1px;
  }

  .mat-mdc-cell {
    text-align: center;
  }
}

.no-data {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (width <= 500px) {
  .mat-mdc-cell,
  .mat-mdc-header-cell {
    font-size: 11px !important;
  }
}
