@use 'imports' as *;

.mat-mdc-table {
  background: none !important;
}

@include deep {
  .mat-mdc-row {
    min-height: 0 !important;
    border-style: none !important;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    padding: 0;
  }

  /* stylelint-disable */
  .mdc-data-table__cell {
    /* stylelint-enable */
    border-bottom-width: 0;
  }

  .mat-column-details {
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      color: var(--color);
      font-weight: bold;
    }
  }
}

.detail-row {
  transform: translateY(var(--row-height));

  &.expanded {
    border-bottom: rgb(0 0 0 / 12%) 1px solid !important;
    border-bottom-width: 1px;
  }

  ::ng-deep &.expanded + .mat-mdc-row {
    transform: translateY(calc(-1 * var(--expand-height)));
  }

  ::ng-deep &:not(.expanded) + .mat-mdc-row {
    border-bottom: rgb(0 0 0 / 12%) 1px solid !important;
  }

  .mat-mdc-cell {
    text-align: center;
  }
}

.no-data {
  align-items: center;
  display: flex;
  justify-content: center;
}
