<mat-table multiTemplateDataRows [dataSource]="dataSource">
  <ng-container matColumnDef="details">
    <mat-cell *matCellDef="let item" [class.hide]="expanded !== item">
      @for (
        formatField of config?.formatFields | keyvalue: unsorted;
        track formatField.key
      ) {
        <ng-container
          *ngTemplateOutlet="
            config?.template ?? null;
            context: {
              $implicit: {
                i18n: formatField.key,
                value: formatField.value(item),
                item,
              },
            }
          "
        />
      }

      @if (config?.additionalTemplate) {
        <ng-template
          *ngTemplateOutlet="
            config?.additionalTemplate ?? null;
            context: {$implicit: {item}}
          "
        />
      }
    </mat-cell>
  </ng-container>

  @if (config?.template || config?.additionalTemplate) {
    <mat-row
      *matRowDef="let row; columns: ['details']"
      class="detail-row"
      [class.expanded]="expanded === row"
    />
  }

  @if (config?.empty) {
    <tr *matNoDataRow class="no-data">
      <td>{{ config?.empty ?? '' | translate }}</td>
    </tr>
  }
</mat-table>
