@use 'imports' as *;

.signup-content {
  padding: 5vh 25px;
  position: relative;

  &,
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 15px;
  }
}

.mat-mdc-form-field {
  width: 80vw;
  max-width: 350px;
}

.signup-footer {
  display: flex;
  gap: 10px;
}
