@import '../../styles/styles';

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  margin: auto;
  position: absolute;
  width: 100%;
}

.spinner-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
}

.search-location {
  margin-top: 50px;
}

.weather-cover {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  text-align: center;
}

.weather-background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.weather-day {
  display: flex;
  flex-direction: row;

  img {
    height: 64px;
    margin-top: 32px;
  }
}

.weather-day-items {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.mat-divider {
  margin: 10px 0;
}
