@import '../../styles/styles';

:host {
  left: 0;
  margin: auto;
  position: absolute;
  width: 100%;
}

.spinner-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
}

.weather-cover {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  text-align: center;

  & > div {
    margin-top: 20px;
  }
}

.weather-background {
  border-radius: 10px;
  height: 100%;
  position: absolute;
  top: 45px;
  width: calc(10vw + 200px);
  z-index: -1;
}

.weather-day {
  display: flex;
  flex-direction: row;

  & img {
    height: 64px;
    margin-top: 32px;
  }
}

.weather-day-items {
  display: flex;
  flex-direction: column;
  margin: auto;
}

@include media(#{$smallscreen}) {
  .weather-background {
    left: 0;
    width: 100vw;
  }
}
