.mat-header-cell {
  overflow: visible !important;
}

.mat-cell,
.mat-header-cell {
  color: #fff;
  justify-content: center;
  &:first-of-type {
    padding-left: 10px !important;
  }
  &:last-of-type {
    padding-right: 10px !important;
  }
}

.mat-table {
  background: none !important;
  width: 90%;
}
