<app-dashboard>
  <ng-container *ngIf="forecast && forecast.forecastDay">
    <div
      [@slideInOut]="index"
      [@slideInOut]="pageIndex"
      (swipeleft)="onSwipeLeft()"
      (swiperight)="onSwipeRight()"
      class="wrapper"
    >
      <div class="show-all-header">
        <mat-slide-toggle
          [(ngModel)]="showAll"
          (change)="navigate(date, showAll ? 1 : 0)"
        >
          {{ 'dashboard.show_all' | translate }}</mat-slide-toggle
        >
        <mat-paginator
          [length]="24"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [hidePageSize]="true"
          (page)="navigate(date, $event.pageIndex)"
          [ngClass]="{hide: !showAll}"
        >
        </mat-paginator>
      </div>

      <app-table-expand
        #table
        [dataSource]="hours"
        [config]="{template: forecastField, formatFields, color: 'white'}"
      >
        <ng-container matColumnDef="time">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            {{ 'global.hour' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let hour">
            {{ hour.time | date : 'H:mm' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="condition">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            {{ 'forecast.condition' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let hour">
            <img src="{{ hour.condition.icon | icon : hour.isDay }}" />
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tempC">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            {{ 'forecast.temp' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let hour"> {{ hour.tempC }} °C </mat-cell>
        </ng-container>

        <ng-container matColumnDef="windKph">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            {{ 'forecast.wind' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let hour"> {{ hour.windKph }} km/h </mat-cell>
        </ng-container>

        <ng-container matColumnDef="precipMm">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            {{ 'forecast.precip' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let hour"> {{ hour.precipMm }} mm </mat-cell>
        </ng-container>

        <ng-container matColumnDef="chanceOfRain">
          <mat-header-cell mat-header-cell *matHeaderCellDef>
            {{ 'forecast.rain' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let hour">
            {{ hour.chanceOfRain }} %
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row
          *matRowDef="let hours; columns: columnsToDisplay"
          (click)="table.expand(hours)"
        ></mat-row>
      </app-table-expand>
    </div>
  </ng-container>
</app-dashboard>

<ng-template #forecastField let-field>
  <div class="forecast-field">
    <span>{{ 'forecast.' + field.i18n | translate }}: </span>{{ field.value }}
  </div>
</ng-template>
