<app-dashboard>
  <ng-container *ngIf="forecast && forecast.forecastDay">
    <div
      class="wrapper"
      [@slideInOut]="pageIndex"
      [@slideOutIn]="index"
      (swipeleft)="onSwipeLeft()"
      (swiperight)="onSwipeRight()"
    >
      <div class="show-all-header">
        <mat-slide-toggle
          [(ngModel)]="showAll"
          (change)="navigate(date, showAll ? 1 : 0)"
        >
          {{ 'dashboard.show_all' | translate }}</mat-slide-toggle
        >
        <mat-paginator
          [length]="24"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [hidePageSize]="true"
          [ngClass]="{hide: !showAll}"
          (page)="navigate(date, $event.pageIndex)"
        >
        </mat-paginator>
      </div>

      <app-table-expand
        #table
        [dataSource]="hours"
        [config]="{template: forecastField, formatFields, color: 'white'}"
      >
        <ng-container matColumnDef="time">
          <mat-header-cell *matHeaderCellDef mat-header-cell>
            {{ 'global.hour' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let hour">
            {{ hour.time | date: 'H:mm' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="condition">
          <mat-header-cell *matHeaderCellDef mat-header-cell>
            {{ 'forecast.condition' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let hour">
            <img src="{{ hour.condition.icon | icon: hour.isDay }}" />
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="tempC">
          <mat-header-cell *matHeaderCellDef mat-header-cell>
            {{ 'forecast.temp' | translate }}
          </mat-header-cell>
          <mat-cell
            *matCellDef="let hour"
            [appHighlight]="WeatherField.TEMP"
            [hour]="hour"
          >
            {{ hour.tempC }} °C
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="windKph">
          <mat-header-cell *matHeaderCellDef mat-header-cell>
            {{ 'forecast.wind' | translate }}
          </mat-header-cell>
          <mat-cell
            *matCellDef="let hour"
            [appHighlight]="WeatherField.WIND"
            [hour]="hour"
          >
            {{ hour.windKph }} km/h
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="precipMm">
          <mat-header-cell *matHeaderCellDef mat-header-cell>
            {{ 'forecast.precip' | translate }}
          </mat-header-cell>
          <mat-cell
            *matCellDef="let hour"
            [appHighlight]="WeatherField.PRECIP"
            [hour]="hour"
          >
            {{ hour.precipMm }} mm
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="chanceOfRain">
          <mat-header-cell *matHeaderCellDef mat-header-cell>
            {{ 'forecast.rain' | translate }}
          </mat-header-cell>
          <mat-cell
            *matCellDef="let hour"
            [appHighlight]="WeatherField.CHANCE_OF_RAIN"
            [hour]="hour"
          >
            {{ hour.chanceOfRain }} %
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row
          *matRowDef="let h; columns: columnsToDisplay"
          (click)="table.expand(h)"
        ></mat-row>
      </app-table-expand>
    </div>
  </ng-container>
</app-dashboard>

<ng-template #forecastField let-field>
  <div
    class="forecast-field"
    [appHighlight]="getField(field.i18n)"
    [hour]="field.expanded"
  >
    <span>{{ 'forecast.' + field.i18n | translate }}: </span>{{ field.value }}
  </div>
</ng-template>
