@use 'imports' as *;

.wrapper {
  margin-top: 25px;
  touch-action: pan-y !important;
  width: 100vw;
}

.show-all-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@include deep {
  .mat-mdc-header-cell {
    overflow: visible !important;
  }

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    color: #fff;
    justify-content: center;

    &:first-of-type {
      padding-left: 10px !important;
    }

    &:last-of-type {
      padding-right: 10px !important;
    }
  }

  .mat-mdc-paginator {
    background: none !important;
  }

  .highlight {
    &,
    > * {
      @include color('error');

      font-weight: bold;
    }
  }

  .mat-mdc-row:has(.highlight) {
    @include bg-color('warning', false, 0.2);
  }

  .mat-mdc-paginator-range-label,
  .mdc-switch svg {
    display: none;
  }
}

.forecast-field {
  @include color('white');

  span {
    font-weight: 900 !important;
  }
}

@media (width < 420px) {
  @include deep {
    .mat-mdc-cell,
    .mat-mdc-header-cell {
      &:first-of-type {
        padding-left: 0 !important;
      }

      &:last-of-type {
        padding-right: 0 !important;
      }
    }
  }
}
