@use 'imports' as *;

.wrapper {
  margin-top: 25px;
  touch-action: pan-y !important;
}

.show-all-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 25%;
}

.mat-header-cell {
  overflow: visible !important;
}

.mat-cell,
.mat-header-cell {
  color: #fff;
  justify-content: center;

  &:first-of-type {
    padding-left: 10px !important;
  }

  &:last-of-type {
    padding-right: 10px !important;
  }
}

.forecast-field {
  @include color('white');

  span {
    font-weight: 900 !important;
  }
}

::ng-deep.mat-table {
  width: 90vw;
}

::ng-deep.mat-paginator-range-label {
  display: none;
}

.mat-paginator {
  background: none !important;
}

@media (max-width: 500px) {
  ::ng-deep.mat-table {
    width: 100vw;
  }

  .mat-cell,
  .mat-header-cell {
    &:first-of-type {
      padding-left: 0 !important;
    }

    &:last-of-type {
      padding-right: 0 !important;
    }
  }
}
