@use 'imports' as *;

:host {
  @include size(calc(100% - 4 * #{$alert-edit-margin}));

  display: flex;
  flex-direction: column;
  left: 2 * $alert-edit-margin;
  position: relative;

  .row {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    align-items: center;
  }
}

@include deep {
  app-question:last-of-type .mat-divider {
    margin-bottom: 50px !important;
    opacity: 0;
  }

  .mdc-checkbox svg {
    @include color('white', true);
  }
}

.submit-btn {
  display: flex;
  width: 100%;

  button {
    margin: auto;
    width: 80%;

    &:disabled {
      @include color('warning', true);
    }
  }
}
